*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 800px;
  height: 100%;
  position: relative;
  margin: 0;
  font-family: 'Raleway', 'sans-serif';
  display: flex;
  justify-content: center;
} 


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}


.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
} 


.titles {
  max-width: 750px;
  font-size: 120px;
  font-weight: 800;
  line-height: 140px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  z-index: 1;
  margin-top: 59px;
}

.second {
  margin-right: 23px;
  letter-spacing: 4px;
} 

.titles::before {
  content: "*";
  position: absolute;
  margin-top: 16%;
  margin-left: 32%;
  font-size: 90px;
}



.titles:hover::before {
  position: absolute;
  right: 20px;
  bottom: 63%;
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  border: 2px solid #000;
  border-bottom: 15px;
  border-radius: 20px;
  white-space: pre;
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0;
  text-align: start;
  text-transform: lowercase;
  z-index: 2;
  padding: 38px 45px;
  background-color: #fff;
}

.titles:hover::after {
    color: #4C4C4C;
} 


